body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(222, 224, 210);
    margin: 0;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

header, main {
    padding: 8px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(45, 66, 87);
    color: floralwhite; 
    font-size: 2em; 
    font-weight: bolder;
}

h1 {
    margin: 0 20px;
    flex-grow: 2;
}


main {
    margin-bottom: 100px;
}


input, fieldset, button {
    border: 1px solid green;
}

button {
    margin: 20px 0;
    padding: 20px;
    font-size: 0.8em;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: lightgray;
}