#quests {
    position: relative;
    background-image: url("../assets/chart-hor.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 90vw;
    height: calc(90vw * 642 / 900);
    margin: auto;
}

.quest {
    position: absolute;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px black;
}

.quest.completed {
    color: whitesmoke;
    font-size: .9em;
}

.quest.completed:after {
    content: ' done!';
}

h2 {
    margin: 0;
}

.profile {
    font-size: 0.5em; 
}

#avatar {
    height: 80px;
}

